<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Log In</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<style>
			.forma {
				width:350px;
			}
			.centered {
				display: block;
				margin-left: auto;
				margin-right: auto;
			}
			.toggle{
				display:none
			}
			body {
				padding:50px;
			}
			.fail_login_error {
				width:300px;
			}
			.validation-message {
				font-style: normal;
				font-size: 12px;
				color: #FF1C19;
			}
		</style>	
	</head>
	<body>
		<div id="registracija" class="col-sm-6">
			<h3>Register:</h3>
			<form action="#" th:action="@{/register}" method="POST" class="forma" th:object="${user}">
				<div class="form-group">
					<label th:if="${#fields.hasErrors('displayName')}" 
						th:errors="*{displayName}" class="validation-message"></label>
					<input type="text" th:field="*{displayName}" placeholder="Nickname" 
						id="displayName" name="displayName" class="form-control" />
				</div>
				<div class="form-group">
					<label th:if="${#fields.hasErrors('username')}" 
						th:errors="*{username}" class="validation-message"></label>
					<input type="text" th:field="*{username}" placeholder="Username" 
						id="username" name="username" class="form-control" />
				</div>
				<div class="form-group">
					<label th:if="${#fields.hasErrors('password')}" 
						th:errors="*{password}" class="validation-message"></label>
					<input type="password" th:field="*{password}" placeholder="Password" 
						id="password" name="password" class="form-control" />
				</div>
				<button class="btn btn-default centered" type="submit">Register</button>
			</form>
			<a href="/login">Go back to login page</a>
		</div>
	</body>
</html>